.topicos{
    margin: 450px 0px 0px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25vh 25vh 25vh 25vh 25vh 25vh 25vh;
}

#topico1{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 540px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 60px 0px 0px;
}

.materia1 img{
    width: 400px;
    margin: 0px 30px 0px 0px;
}

#topico2{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 540px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px 0px 0px 0px;

}

#topico3{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 540px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    margin: -80px 60px 0px 0px;
}

#topico4{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 540px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    margin: -80px 0px 0px 0px;
}

.topicos figcaption, p{
    color: black;
    text-indent: 0;
    font-size: 0.9em;
    text-align: justify;
    width: 400px;
    margin-left: 0;
}

figcaption:hover{
    text-decoration: underline;
}

.topicos h4{
    color: #0477BF;
}

.sec img{
    width: 200px;
    margin-right: 10px;
}

.sec h5{
    display: inline-block;
    width: 150px;
    font-size: 0.9em;
    color: black;
} 

.sec h5:hover{
    text-decoration: underline;
}


.materia2 img, h5{
    float: left;
}
