/* Primeiro Bloco */

.container-noticias-destaques{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 3%;
    grid-template-areas: "nt1 nt2"
                         "nt1 nt3";
}

.container-noticias-destaques .noticia-destaque figure img{
    width: 100%;
    height: 100%;
}

.container-noticias-destaques .noticia-destaque figure a{
    text-decoration: none;
    color: white;
    opacity: 1;
}

.container-noticias-destaques .noticia-destaque .figcaption:first-child .nt1{
    font-size: 30px !important;
}

.container-noticias-destaques .noticia-destaque .figcaption{
    font-size: 17px;
    width: 100%;
    margin-top: -60px;
    position: relative;
    height: 56px;
    padding: 10px;
    background: #0477bf8a;
    z-index: 1;
}

.noticia1{
    grid-area: nt1;
}

.noticia2{
    background: red;
    grid-area: nt2;
}

.noticia3{
    background: green;
    grid-area: nt3;
}

.zoom{
    height: 100%;
}

/* Segundo Bloco */

.container-topicos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 106%;
    margin-top: 7%;
    grid-template-areas: "tpc1 tpc2"
                         "tpc3 tpc4";
}

.container-topicos .topicos figure img{
    width: 100%;
    height: 100%;
}

.container-topicos .topicos a{
    text-decoration: none;
    color: black;
}

.t1{
    grid-area: tpc1;
    margin-right: 10%;
}

.t2{
    grid-area: tpc2;
    margin-right: 10%;
}

.t3{
    grid-area: tpc3;
    margin-right: 10%;
    margin-top: 5%;
}

.t4{
    grid-area: tpc4;
    margin-right: 10%;
    margin-top: 5%;
}

.container-topicos .sec .materia2 figure img{
    width: 50%;
    height: 25%;
    float: left;
    margin-right: 2%;
}

.container-topicos .sec .materia2 a figure h4, h5{
    font-size: 100%;
}

.container-topicos .topicos h4{
    color: #0477BF;
}

.container-topicos .topicos h5:hover, figcaption:hover{
    text-decoration: underline;
}







